@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?850fe8ce983ccb3db4fac642d987aca1") format("truetype"),
url("./flaticon.woff?850fe8ce983ccb3db4fac642d987aca1") format("woff"),
url("./flaticon.woff2?850fe8ce983ccb3db4fac642d987aca1") format("woff2"),
url("./flaticon.eot?850fe8ce983ccb3db4fac642d987aca1#iefix") format("embedded-opentype"),
url("./flaticon.svg?850fe8ce983ccb3db4fac642d987aca1#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-bar-chart:before {
    content: "\f101";
}
.flaticon-benchmark:before {
    content: "\f102";
}
.flaticon-down-arrow:before {
    content: "\f103";
}
.flaticon-growth:before {
    content: "\f104";
}
.flaticon-internet:before {
    content: "\f105";
}
.flaticon-interview:before {
    content: "\f106";
}
.flaticon-investor:before {
    content: "\f107";
}
.flaticon-like:before {
    content: "\f108";
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: "\f109";
}
.flaticon-male:before {
    content: "\f10a";
}
.flaticon-medal:before {
    content: "\f10b";
}
.flaticon-pin:before {
    content: "\f10c";
}
.flaticon-plus:before {
    content: "\f10d";
}
.flaticon-portfolio:before {
    content: "\f10e";
}
.flaticon-profits:before {
    content: "\f10f";
}
.flaticon-search:before {
    content: "\f110";
}
.flaticon-send:before {
    content: "\f111";
}
.flaticon-trophy:before {
    content: "\f112";
}
.flaticon-upload:before {
    content: "\f113";
}
.flaticon-wallet:before {
    content: "\f114";
}
.flaticon-zoom:before {
    content: "\f115";
}
